In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [5]:
pmi = pd.read_excel("pmidata.xlsx")

In [6]:
pmi.head()

          Date   PMI
0   2020 (May)  40.9
1   2020 (Nis)  33.4
2   2020 (Mar)  48.1
3  2020 (Şub )  52.4
4   2020 (Oca)  51.3

In [7]:
pmi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    62 non-null     object
 1   PMI     62 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.1+ KB

In [14]:
new_names = {"Tarih" : "T",
             "PMI 3 AY ORT" : "ORT",
             "PMI 3 AY YUZDE" : "YUZ",
             "GSYIH" : "GSYIH"
            }
pmi = pmi.rename(columns = new_names)
pmi.head()

         T        ORT   YUZ  GSYIH
0  2016-Q1  50.133333 -1.44    4.8
1  2016-Q2  48.566667 -3.13    3.1
2  2016-Q3  47.633333 -1.92   -1.8
3  2016-Q4  48.766667  2.38    3.5
4  2017-Q1  50.233333  3.01    5.0

In [16]:
corr_matrix = pmi.corr()
corr_matrix["GSYIH"].sort_values(ascending = False)

GSYIH    1.000000
ORT      0.856595
YUZ      0.054402
Name: GSYIH, dtype: float64

In [67]:
features = pmi.drop(columns = ["T","YUZ", "GSYIH"])
features.head()

         ORT
0  50.133333
1  48.566667
2  47.633333
3  48.766667
4  50.233333

In [68]:
X = features.values
y = pmi["GSYIH"].values

In [69]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [70]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [71]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()  
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [72]:
y_pred = regressor.predict(X_test)

In [73]:
y_pred

array([4.4957623 , 2.80592445, 8.41124026, 8.69974916])

In [74]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))

Mean Absolute Error: 1.42732566656323

In [75]:
from sklearn.tree import DecisionTreeRegressor
tree_reg = DecisionTreeRegressor()
tree_reg.fit(X_train, y_train)

y_pred = tree_reg.predict(X_test)

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))

Mean Absolute Error: 2.5999999999999996

In [77]:
from sklearn.linear_model import Lasso
lasso_regr = Lasso(max_iter=50000)
lasso_regr.fit(X_train, y_train)

y_pred = lasso_regr.predict(X_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))

Mean Absolute Error: 0.8749549626877471

In [3]:
aq = pd.read_csv(r"C:\Users\tunta\Downloads\kocaeli_air.csv")

In [5]:
aq.head()

       date  pm25  pm10   o3  no2  so2  co
0  2020/6/1    59    19   43   15    2   2
1  2020/6/2    64    15   36   23    3   2
2  2020/6/3    61    19   52   17   31   2
3  2020/6/4    68    16   58   22   12   6
4  2020/6/5    57    25   63   22   14   4

In [4]:
len(aq)

920

In [8]:
amk = pd.read_csv(r"C:\Users\tunta\Downloads\kocaeli_air.csv", sep=r'\s*,\s*',
                           header=0, encoding='ascii', engine='python')

In [10]:
amk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 7 columns):
date    920 non-null object
pm25    881 non-null float64
pm10    604 non-null float64
o3      872 non-null float64
no2     861 non-null float64
so2     867 non-null float64
co      595 non-null float64
dtypes: float64(6), object(1)
memory usage: 50.4+ KB

In [53]:
aq1.head()

       date  pm25  pm10   o3  no2  so2  co
0  2020/6/1    59    19   43   15    2   2
1  2020/6/2    64    15   36   23    3   2
2  2020/6/3    61    19   52   17   31   2
3  2020/6/4    68    16   58   22   12   6
4  2020/6/5    57    25   63   22   14   4

In [54]:
aq1[["o3"]]

KeyError: "None of [Index(['o3'], dtype='object')] are in the [columns]"

In [19]:
mean(1,2,3)

NameError: name 'mean' is not defined

In [10]:
aq_list = []
for i in range(len(aq)-2):
    average = sum

AttributeError: 'DataFrame' object has no attribute 'average'